/*reset*/
*{
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;/*para ver*/
    font-family: inherit;
}
body{
    font-size: 62.5%;/*se traduce a 10 px=1em*/
}
.content {
    height: 697.2vh;/*contiene el header y el main*/
  }

img{
    width: 100%;
    height: auto;
}
/*------CLASES UTILES----*/
.fondo-blanco{
    background-color: #f5f7f7;
}
.fondo-gris{
    background-color: #737d80;
}
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-container2{
    display: flex;
    align-items: center;
}
.flex-container3{
    display: flex;
    justify-content: center;
}
.tamaño{
    width: 100%;
    height: auto;  
}
.tipografia-os-p{
    font-family: "Open Sans", sans-serif;
     font-size: 1em;
     font-weight: 400;
     line-height: 1.5em;
}
.tipografia-noto-h3{
    font-family: "Noto Serif", Serif;
    font-size: 2em;
    font-weight: 400;
}
.tipografia-gris{
    color:  #737d80;
}
.tipografia-blanca{
    color: rgb(255, 255, 255);
}
.tipografia-beige{
    color: #ACBBBF;
}
.see-more{
    width: 100%;
    height: auto;
    font-family: "Open Sans", sans-serif;
     font-size: 0.9em;
     color:  #3d4142;;
     font-weight: 800;
}
.see-more a:hover{/*cambia el color del texto see more*/
    color:  #44c6c1;
    }
/*----/CLASES UTILES---*/

/*----HEADER-----*/
.navegador{ /*aplico display flex al padre*/
    height: 13vh;
    position: absolute;
   
   }
.container-navegador{
    justify-content: space-between;
    border-bottom: 0.1px solid rgb(101, 99, 99);/*linea blanca*/
    width: 60%;
}
.container-menu{
    align-items: flex-end;
    width: 40%;
}
.container-menu nav{
    height: 3vh;
    display: flex;
}
.tamañologo1{
      width: 15%;
      height: 12vh;
      align-items: flex-end;/*coloca el logo en la parte inferior del contenedor*/
}
#logo1{
    width: 100%;
    height: auto;
}
.menu{
       display:flex;
       list-style-type: none; 
       justify-content:space-between;
}
.menu li{
    display: flex;
    padding: 0;
    margin: 0;
    width: auto;
    flex-grow: 1;
}
.listamenu{
    height: auto;
    font-family: "Open Sans", sans-serif;
    color: rgb(198, 198, 198);
    font-weight: lighter;
    text-align: center;
    font-size: 0.8em;
}
.menu-hamburguesa{
     width: 8%;
}
.listamenu h4{
   width: 100%;
   height: auto;
}
.cambiocolor:hover{
    color:  #44c6c1;
}
/*-----MAIN-------*/
/*-----SLIDER-----*/
.slider{
    background-image: url('../imagenes/2024-urok-home-tramaprincipal.png'), url('../imagenes/imagenprincipal.jpg');/*poner la imagen solo al container donde esta el titulo y texto*/
    background-size: auto,cover; 
    background-repeat: repeat,no-repeat;
    height: 100vh;
}
.slider-container{
    width: 65%;
   position: relative;
}
.slider-titulos{
height: 50vh;
flex-direction: column;
}
.slider-titulos h1{
    text-align: center;
    font-size: 3.5em;
    font-family: "Noto Serif", serif;
    font-style: normal;
    font-weight: 400;
    color: rgb(255, 255, 255);
    width: 50%;
    margin-top: 6%;
    height: 15vh;
}
.slider-titulos p{
    height: 5vh;
    width: 70%;
    font-size: 1em;
    line-height: 1.7em;
    text-align: center;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
}
.slider-titulos div{
    height: 17vh;
    flex-direction: column;
}
.slider-titulos h5{/*texto see more*/
    width: 8%;
    height: 3.4vh;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: #44c6c1;
    font-family: "Open Sans", sans-serif;
    font-size: 0.8em;/*cambiar a em*/
    line-height: 12px;
    margin-bottom: 4%;
}

.slider-titulos a:hover{
color:  #44c6c1;
}
/*----/SLIDER---*/
/*section1*/
.seccion1-container1{
    height: 120vh;
}
.seccion1-container2{
    display: block;
    width: 62%;
}
.seccion1{
    height: 60vh;
    display: flex;
}
.imagen-dedos-dorados img{
    width: 100%;
    height: 100%;
}
.info-seccion1{
    width:65%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    text-align: right;
}
.div-h3{
    width: 100%;
   height: 15vh;
}
.div-p1{
    height: 15vh;
    width: 100%;
}
.div-seemore{
    height: 10vh;
}
.estilos h3{
  width: 100%;
  height: auto;
}
.estilos p {
   width: 100%;
   height: auto;
}
.seccion1-1{
    height: 60vh;
    flex-direction: row-reverse;
}
.imagen-labios img{
    width: 100%;
    height: 100%;
}
.info-seccion1-1{
    width:65%;
    height: 40vh;
    display: flex;
   flex-direction: column;
}
/*seccion2*/
.seccion2-container1{
    height: 60vh;
}
.seccion2-container2{
width: 40%;
height: 41vh;
display: block;
}
.seccion2-imagen{
    height: 5vh;
}
.seccion2-imagen img{
    width: 20%;
    height: auto;
}
.seccion2-info{
height: 35vh;

}
.seccion2-info div{
    height: 26vh;
    display: block;
}
.seccion2-info p{
    height: 13vh;
}

.texto-centrado{
    text-align: center;
    
}
/*seccion3*/
.seccion3-container1{
    background-image: url("../imagenes/2024-urok-home-mujerconsombrero-02.jpg");
    width: auto;
    height: 80vh;
    background-attachment: fixed;
    position: relative;
    z-index: 5;
}

.seccion3-container2{
    width: 50%;
    height: 60vh;
    flex-direction: column;
    position: absolute;
    z-index: 10;
}
.seccion3-info{
    margin-top: auto;
    height: 30vh;
    display:block;
}
.seccion3-info2{
    height: 10vh;
}
.seccion3-info h3{
    text-align: center;
    font-family: "Noto Serif", Serif;
    color:  #ffffff;
    font-size: 2.3em;
    font-weight: 400;
}
.seccion3-info p{
text-align: center;
font-family: "Noto Serif", Serif;
font-style: italic;
color:  #ffffff;
font-size: 1.4em;
font-weight: 400;
}
.seccion3-info h5{
text-align: center;
font-family: "Noto Serif", Serif;
font-style: italic;
color:  #ffffff;
font-size: 1.2em;
font-weight: 400;
}
/*seccion4*/
.seccion4-container1{
    height: 140vh;
}
.seccion4-container2{
    height: 120vh;
    width: 60%;
    display: block;
}
.seccion4-container3{
    height: 60vh;
}
.seccion4-containerdiv{
   display: flex; 
   height: 50vh;
}
.seccion4-containerdiv img{
   height: 100%;
 }
.seccion4-container4{
    width: 55%;
}
.seccion4-container4-2{
    justify-content: left;
    width: 55%;
}
.seccion4-container5{
width: 90%;
height: 30vh;
}
.seccion4-container5-2{
    width: 80%;
    height: 30vh;
    }
.seccion4-h3{
height: 12vh;
}
.seccion4-p{
    height: 14vh;
}
.seccion4-h5{
    height: 4vh;
}
.seccion4-containerdiv2{
    display: flex; 
    flex-direction: row-reverse;
    height: 50vh;
}
.seccion4-containerdiv2 img{
    height: 100%;
  }
.texto-derecha{
    text-align: right;
}
/*seccion 5*/
.seccion5-container{
    height: 67.2vh;
    display: flex;
    flex-wrap: wrap;
}
.seccion5-container3{
    width: 25%;
    height: auto;
}
.overlay-container{
    position: relative;
  }
.overlay-container:hover .overlay{
    opacity:1;
  }
.overlay{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.5);
    transition: .10s ease;
    opacity: 0;

  }
.overlay a{
    color: aliceblue;
    width: 70%; 
}
.seccion5-container3 img{
    width: 100%;
    height: 100%;  
}
/*seccion 6*/
.seccion6-container1{
    height: 70vh;
}
.seccion6-container1 article{
    width: 60%;
    height: 50vh;
    display: block;
}
.seccion6-container2{
    height:10vh;
}
.seccion6-container2 h3{
    height: 5vh;
    color:#737D80;
}
.seccion6-container3{
    display: flex;
    height: 40vh;
}
.seccion6-container2 h4{
    height: 5vh;
    font-family: "Noto Serif", Serif;
    color: #737D80;
    font-size: 1em;
    font-weight: 400;
}
.contenido-20vh{
    height: 20vh;
}
.seccion6-texto3-div{
    display: block;
    width: 90%;
    height: 18vh;
}
#seccion6-h3{
    height: 13vh;
    font-family: "Open Sans", sans-serif;
    font-size: 1.4em;
    color: #737D80;
    font-weight: lighter;
    line-height: 1.5em;   
}
.seccion6-container-h5{
    height: 5vh;
    width: 34%;
    display: flex;
}
#seccion6-h5-2{
font-style: italic;
height: 2.5vh;
font-family: "Open Sans", sans-serif;
font-size: 1em;
color: #737D80;
font-weight: lighter;
line-height: 1.5em;
}
#seccion6-h5{
    height: 2.5vh;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    color: #737D80;
    font-weight: lighter;
    line-height: 1.5em;
}

.seccion6-container4{
    width: 40%;
}
.seccion6-container4 img{
   height: 100%;
}
/*seccion7*/
.seccion7-container1{
    height: 60vh;
    display: flex;
}
.seccion7-container3{
    display: flex;
}
.seccion7-container4{
    width: 80%;
    height: 45vh;
    display: flex;
    align-items: flex-start;
}
.seccion7-container4-2{
    height: 30vh;
}
.seccion7-container5{
height: 12vh;
}
.seccion7-container5-2{
    height: 9vh;
}
.seccion7-container5-2 div{
    height: 9vh;
}
.seccion7-contacto p{
    height: 3vh;
}
.contact-form h3{
    height: 5vh;
}
/*footer*/
.footer-container1{
height: 60vh;
align-items: flex-end;
background-color: #212526;
}
.footer-container1 article{
height: 50vh;
width: 60%;
display: flex;
}
.footer-container-datos1{
    height: 40vh; 
}
.footer-borde{
height: 48vh;
}
.footer-container-borde{
    height: 35vh;
    border-left: 0.5px solid rgb(66, 65, 65);
}
.footer-container-datos2{
    height: 9vh;
}
.footer-container-datos2 img{
    width: 17%;
    height: auto;
}
.footer-container-datos2 div{
    height: 9vh;
}
.footer-container-datos3{
    height: 17vh;
}
.footer-iconos{
    height: 5vh;
}
.footer-container2-2{
width: 72%;
align-items: flex-end;
}
.footer-container2-3{
    height: 5vh;
}
.prueba{
    height: 10vh;
}
.footer-container2-3 h5{
width: 60%;
height: 5vh;
font-family: "Noto Serif", Serif;
color: #ffffff;
font-size: 1.8em;
font-weight: 400;
}
.footer-container2-4{
    height: 11vh;
}
.footer-container2-4 p{
    width: 90%;
   
}