/*reset*/
*{
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;/*para ver*/
    font-family: inherit;
    list-style-type: none; 
}
body{
    font-size: 62.5%;/*se traduce a 10 px=1em*/
}
.content {
    height: 700vh;/*contiene el header y el main*/
  }

img{
    width: 100%;
    height: auto;
}
/*------CLASES UTILES----*/
.fondo-blanco{
    background-color: #f5f7f7;
}
.fondo-gris{
    background-color: #737d80;
}
.flex{
    display: flex;
}
.content1{
    justify-content: center;
    align-items: center;
}
.content2{
    align-items: center;
}
.content3{
    justify-content: center;
}
.content4{
    flex-direction: column;
}
.content5{
    justify-content: space-between;
}
.tamaño{
    width: 100%;
    height: auto;  
}
.tipografia-os-p{
    font-family: "Open Sans", sans-serif;
     font-size: 1em;
     font-weight: 400;
     line-height: 1.6em;
}
.tipografia-noto-h3{
    font-family: "Noto Serif", Serif;
    font-size: 2em;
    font-weight: 400;
}
.tipografia-noto{
    font-family: "Noto Serif", Serif;
    font-weight: 400;
}
.center{
    text-align: center; 
}
.ita{
    font-style: italic;
}
.light{
    font-weight: lighter;
}
.tipografia-open{
    font-family: "Open Sans", sans-serif;
}
.tip-gris{
    color:  #737d80;
}
.tip-blanca{
    color: rgb(255, 255, 255);
}
.tip-beige{
    color: #ACBBBF;
}
.tip-celeste{
    color:  #44c6c1;
}
.contenido-imagen{
    width: 100%;
    height: 100%;
}
.see-more{
     font-size: 0.8em;
     color:  #3d4142;;
     font-weight: 800;
}
.linea-celeste::before{
    content: "";
    width: 25%;
    height: 5%;
    background-color:#44c6c1;
    margin-right: 8px; 
   
}
.see-more a:hover{/*cambia el color del texto see more*/
    color:  #44c6c1;
    }
/*----/CLASES UTILES---*/





/*----HEADER-----*/
.navegador{ /*aplico display flex al padre*/
    height: 13vh;
    position: absolute;
    z-index: 1;
   
   }
.container-navegador{
    border-bottom: 0.1px solid rgb(101, 99, 99);/*linea blanca*/
    width: 60%;
}
.container-menu{
    align-items: flex-end;
    width: 40%;
}
.container-menu nav{
    height: 3vh;
}
.tamañologo1{
      width: 15%;
      height: 12vh;
      align-items: flex-end;
}
.menu li{
    padding: 0;
    margin: 0;
    width: auto;
    flex-grow: 1;
}
.listamenu{
    font-size: 0.8em;
}
.menu-hamburguesa{
     width: 8%;
}
.cambiocolor:hover{
    color:  #44c6c1;
}
/*----/HEADER--*/
/*-----MAIN-------*/
/*-----SLIDER-----*/
.slider{
    background-image: url('../imagenes/2024-urok-home-tramaprincipal.png'), url('../imagenes/imagenprincipal.jpg');/*poner la imagen solo al container donde esta el titulo y texto*/
    background-size: auto,cover; 
    background-repeat: repeat,no-repeat;
    height: 100vh;
}
.slider-container{
    width: 65%;
   position: relative;
}
.slider-titulos{
height: 50vh;
}
.slider-titulos h1{
    font-size: 3.5em;
    width: 50%;
    margin-top: 6%;
    height: 15vh;
}
.slider-titulos p{
    height: 5vh;
    width: 70%;
    font-size: 1em;
    line-height: 1.7em;
}
.slider-titulos div{
    height: 17vh;
}
.slider-titulos h5{/*texto see more*/
    width: 8%;
    height: 3.4vh;
    background-color: #44c6c1;
    font-size: 0.8em;/*cambiar a em*/
    margin-bottom: 4%;
}
.slider-titulos a:hover{
color:  #44c6c1;
}
/*----/SLIDER---*/
/*-------SECTION 1 -----*/
.seccion1-container1{
    height: 120vh;
}
.seccion1-container2{
    width: 62%;
}
.seccion1{
    height: 60vh;
}
.info-seccion1{
    width:65%;
    height: 40vh;
    text-align: right;
}
.div-h3{
   height: 15vh;
}
.div-p1{
    height: 17vh;
}
.div-seemore{
    height: 8vh;
}
.seccion1-1{
    height: 60vh;
    flex-direction: row-reverse;
}
.info-seccion1-1{
    width:65%;
    height: 40vh;
}
/*------SECTION 2------*/
.seccion2-container1{
    height: 60vh;
}
.seccion2-container2{
width: 40%;
height: 41vh;
}
.seccion2-imagen{
    height: 15vh;
}
.seccion2-imagen img{
    width: 18%;
    height: auto;
}
.seccion2-info{
height: 25vh;
}
.seccion2-info div{
    height: 26vh;
}
.seccion2-info p{
    height: 13vh;
}
/*-----SECTION 3-----*/
.seccion3-container1{
    background-image: url("../imagenes/2024-urok-home-mujerconsombrero-02.jpg");
    width: auto;
    height: 80vh;
    background-attachment: fixed;
    position: relative;
    z-index: 5;
}
.seccion3-container2{
    width: 50%;
    height: 60vh;
    position: absolute;
    z-index: 10;
}
.seccion3-info{
    margin-top: auto;
    height: 30vh;
    display:block;
}
.seccion3-info2{
    height: 10vh;
}
.seccion3-info h3{
    font-size: 2.3em;
}
.seccion3-info p{
font-size: 1.4em;
}
.seccion3-info h5{
font-size: 1.2em;
}
/*----SECTION 4----*/
.seccion4-container1{
    height: 140vh;
}
.seccion4-container2{
    height: 120vh;
    width: 60%;
    display: block;
}
.seccion4-container3{
    height: 60vh;
}
.seccion4-containerdiv{
   height: 50vh;
}
.seccion4-container4{
    width: 55%;
}
.seccion4-container4-2{
    justify-content: left;
    width: 55%;
}
.seccion4-container5{
width: 90%;
height: 30vh;
}
.seccion4-container5-2{
    width: 80%;
    height: 30vh;
    }
.seccion4-h3{
height: 12vh;
}
.seccion4-p{
    height: 14vh;
}
.seccion4-h5{
    height: 4vh;
}
.seccion4-containerdiv2{
    flex-direction: row-reverse;
    height: 50vh;
}
.texto-derecha{
    text-align: right;
}
/*----SECTION 5----*/
.seccion5-container{
    height: 70vh;
    flex-wrap: wrap;
}
.seccion5-container3{
    width: 25%;
    height: auto;
}
.overlay-container{
    position: relative;
  }
.overlay-container:hover .overlay{
    opacity:1;
  }
.overlay{
    position: absolute;
    top:0;
    left:0;
    background-color:rgba(0, 0, 0, 0.5);
    transition: .10s ease;
    opacity: 0;
  }
.overlay a{
    color: aliceblue;
    width: 70%; 
}
/*----SECTION 6---*/
.seccion6-container1{
    height: 70vh;
}
.seccion6-container1 article{
    width: 60%;
    height: 50vh;
}
.seccion6-container2{
    height:10vh;
}
.seccion6-container2 h3{
    height: 5vh;
}
.seccion6-container3{
    height: 40vh;
}
.seccion6-container2 h4{
    height: 5vh;
    margin-bottom: 2%;
    margin-left: 4%;
    font-size: 1em;
    font-weight: 400;
}
.contenido-20vh{
    height: 20vh;
}
.seccion6-texto3-div{

    width: 90%;
    height: 18vh;
}
.margin{
    margin-top: 5%;
}
.linea-borde{
    border-left: 0.2px solid rgb(196, 196, 196);
}
#seccion6-h3{
   padding-top: 2%;
    height: 13vh;
    font-size: 1.4em;
    font-weight: lighter;
    line-height: 1.5em;   
}
.seccion6-container-h5{
    height: 2.5vh;
    width: 34%;
}
#seccion6-h5-2{
height: 2.5vh;
font-size: 1em;
margin-left: 1.5%;
}
#seccion6-h5{
    height: 2.5vh;
    font-size: 1em;
}
.seccion6-container4{
    width: 45%;
}
.seccion6-container4-2{
    position: absolute;
    height:80%;
    width: 70%;
}
.seccion6-container4-2 h3{
    font-size: 1.3em;
   
}
.linea{
    margin-top: 80%;
}
/*----SECTION 7----*/
.seccion7-container1{
    height: 60vh;
}
.seccion7-container4{
    width: 80%;
    height: 45vh;
    align-items: flex-start;
}
.seccion7-container4-2{
    height: 30vh;
}
.seccion7-container5{
height: 12vh;
}
.seccion7-container5-2{
    height: 9vh;
}
.seccion7-container5-2 div{
    height: 9vh;
}
.seccion7-contacto p{
    height: 3vh;
}
.contact-form h3{
    height: 5vh;
}
/*-----FOOTER-----*/
.footer-container1{
height: 60vh;
align-items: flex-end;
background-color: #212526;
}
.footer-container1 article{
height: 50vh;
width: 60%;
}
.footer-container-datos1{
    height: 40vh; 
}
.footer-borde{
height: 37vh;
border-left: 0.5px solid rgb(66, 65, 65);
}
.footer-container-datos2{
    height: 9vh;
}
.footer-container-datos2 img{
    width: 17%;
    height: auto;
}
.footer-container-datos2 div{
    height: 9vh;
}
.footer-container-datos3{
    height: 17vh;
}
.footer-iconos{
    height: 5vh;
}
.footer-container2-2{
width: 72%;
align-items: flex-end;
}
.footer-container2-3{
    height: 5vh;
    margin-left: 4%;
}
.prueba{
    margin-top: 10%;
    height: 5vh;
}
.footer-container2-3 h5{
width: 60%;
height: 5vh;
font-size: 1.4em;
font-weight: 400;
}
.footer-container2-4{
    height: 11vh;
}
.footer-container2-4 p{
    width: 90%;
   
}