/*reset*/
*{
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;/*para ver*/
    font-family: inherit;
}
body{
    font-size: 62.5%;/*se traduce a 10 px=1em*/
}
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navegador{ /*aplico display flex al padre*/
    height: 10vh;
    width: 100%;
    position: absolute;
    z-index: 10; /*para que el menu este por encima de la imagen de fondo*/
    display: flex;
    justify-content: center;
   }
.container-navegador{
    display: flex;/*acomodo los hijos(el logo y la barra de navegacion)uno al lado del otro*/
    justify-content: space-between;
    border-bottom: 0.5px solid rgb(255, 255, 255);/*linea blanca*/
    width: 70%;
    padding-left:  10em;
    padding-right: 10em;
}
.menu{
   width: 40%;
}
.tamañologo1{
       width: 15%;
       height: 40%;
}
.navegador ul{
       display:flex;
       list-style-type: none; 
       justify-content:space-between;
       width: 100%;/*para que ocupe el ancho entero de su padre(nav)*/
}
.navegador li{
    width: 20%;
   position: relative;
   display: flex;
}
.listamenu{
    position: absolute;
    top: 80%;/*lo ubico dentro del padre li*/
    align-items: center;
    height: 20%;
}
.listamenu h4{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1.4em;
    color: rgb(255, 255, 255);
    text-align: center;
}
.cambiocolor:hover{
    color:  #44c6c1;
}
/*titulo y texto*/
.slider{
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url('../imagenes/2024-urok-home-tramaprincipal.png'), url('../imagenes/imagenprincipal.jpg');/*poner la imagen solo al container donde esta el titulo y texto*/
    background-size: auto,cover; 
    background-repeat: repeat,no-repeat;
    height: 100vh;
}
.slider-container{
    width: 70%;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}
.contenido{
width: 100%;
height: 48%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.contenido h1{
    text-align: center;
    font-size: 4.8em;
    font-family: "Noto Serif", serif;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
    color: rgb(255, 255, 255);
    width: 50%;
    margin-bottom: 6%;
    height: 40%;
}
.contenido strong{/*urok*/
    font-weight: 700;
}
.contenido p{
    height: 40%;
    width: 70%;
    font-size: 1.4em;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
}
.contenido div{
    height: 20%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #44c6c1;
}
.contenido h5{/*texto see more*/
    width: 100%;
    height: 30%;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    line-height: 12px;
    font-weight: 600;
}
.contenido a:hover{/*cambia el color del texto see more*/
color:  #44c6c1;
}
/*section1*/
.seccion1-container1{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 120vh;
}
.seccion1-container2{
    display: block;/*para que los articulos se ubiquen uno abajo del otro*/
    width: 60%;
}
.seccion1{
    height: 60vh;
    display: flex;
}
.imagen-dedos-dorados{
    width: 100%;
}
.seccion1-info-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-seccion1{
    width:70%;
    height: 20vh;
    display: block; 
    
}
.seccion1-info-container h2{
    height: 5vh;
}
.seccion1-info-container p {
    height: 5vh;
}

.seccion1-1{
    height: 60vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
   
}
.seccion1-1-info-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen-labios{
    width: 100%;
}
.info-seccion1-1{
    width:70%;
    display: block;
}
.info-seccion1-1 h2{
    height: 10vh;
}
.info-seccion1-1 p {
height: 10vh;
}
/*seccion2*/
.seccion2-container1{
    display:flex;
    width: 100%;
    height: 70vh;
    justify-content: center;
    align-items: center;
}
.seccion2-container2{
width: 30%;
height: 50vh;
display: block;
}
.seccion2-imagen{
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
.seccion2-imagen img{
    width: 18%;
}
.seccion2-info{
height: 50vh;
display: flex;
align-items: center;
}
.seccion2-info p{
height: 25vh;
}
/*seccion3*/
.seccion3-container1{
    background-image: url("../imagenes/2024-urok-home-mujerconsombrero-02.jpg");
    width: auto;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    position: relative;
}
.seccion3-container2{
    width: 50%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    z-index: 10;
}
.seccion3-info{
    margin-top: auto;
    width: 100%;
    height: 30vh;
    display:block;
}
.seccion3-info2{
    height: 10vh;
}
.seccion3-info h3{
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.seccion3-info p{
text-align: center;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}
/*seccion4*/
.seccion4-container1{
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: center;
}
.seccion4-container2{
    width: 60%;
    display: block;
}
.seccion4-container3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55vh;
}
.seccion4-containerdiv{
   display: flex; 
   height: 40vh;
}
.seccion4-container4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}
.seccion4-container5{
width: 90%;
height: 30vh;
}
.seccion4-container5 h2{
    display: flex;
    width: 100%;
    height:10vh ;
    font-size: 1em;
}
.seccion4-container5 p{
    display: flex;
    width: 100%;
    height: 10vh;
    font-size: 1em;
}
.seccion4-containerdiv2{
    display: flex; 
    flex-direction: row-reverse;
    height: 40vh;
}
.seccion4-container5-2{
    width: 90%;
    height: 30vh;
}
.seccion4-container5-2 p{
    width: 100%;
    height: 10vh;
    font-size: 1em;
    text-align: right; 
}
.seccion4-container5-2 h2{
    width: 100%;
    height:10vh ;
    font-size: 1em;
    text-align: right;
}
/*seccion 5*/
.seccion5-container1{
    width: 100%;
    height: 40vh;
    display: flex;
    flex-wrap: wrap;
    
}
.seccion5-container3{
    width: 25%;
    height: 20;
}
/*seccion 6*/
.seccion6-container1{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.seccion6-container1 article{
    width: 60%;
    height: 60vh;
    display: block;
}
.seccion6-container2{
    width: 100%;
    height: 10vh;
}
.seccion6-container3{
    display: flex;
    width: 100%;
    height: 50vh;
}
.seccion6-texto{
    display: block;
}
.seccion6-texto2{
    height: 25vh;
}
.seccion6-texto2 h3{
    height: 5vh;
}
.seccion6-texto2 p{
    height: 20vh;
    font-size: 1.2em;
 
}
.seccion6-texto3{
   display: flex;
   justify-content: center;
    height: 25vh;
}
.seccion6-texto3 div{
    display: block;
    width: 90%;
}
.seccion6-texto3 h4{
    height: 20vh;
   
}
.seccion6-texto3 h5{
    height: 5vh;
}
.seccion6-container4{
    width: 50%;
}


/*seccion7*/
.seccion7-container1{
    width: 100%;
    height: 70vh;
    display: flex;
}
.seccion7-container3{
    width: 100%;
    display: flex;
}
.seccion7-container4{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.seccion7-container4 article{
    width: 80%;
    height: 60vh;

}
.seccion7-container5{
height: 10vh;
margin: 0;
padding: 0;
}