/*reset*/
*{
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;/*para ver*/
    font-family: inherit;
}
body{
    font-size: 62.5%;/*se traduce a 10 px=1em*/
}
.navegador{ /*aplico display flex al padre*/
    position: fixed;/*para que el menu se qude fijo*/
    height: 20%;
    z-index: 1; /*para que este por encima de la imagen de fondo*/
   padding-left:  10em;
   padding-right: 10em;
   }
.container{
    display: flex;/*acomodo los hijos(el logo y la barra de navegacion)uno al lado del otro*/
    justify-content: space-between;
    position: relative;/*pongo position relative para que sus hijos se posicionen dentro del container*/
    border-bottom: 0.5px solid rgb(255, 255, 255);/*linea blanca*/
}
.navegador nav{
   position: absolute;
   left: 57%;/*dejar en esta posicion*/
   width: 40%;
}
.tamañologo1{
       width: 12%;
       height: 40%;
       position: absolute;
       top: 50%; 
}
.navegador ul{
       display:flex;
       list-style-type: none; 
       justify-content:space-between;
       width: 100%;/*para que ocupe el ancho entero de su padre(nav)*/
}
.navegador li{
    width: 20%;
   position: relative;
   display: flex;
}
.listamenu{
    position: absolute;
    top: 80%;/*lo ubico dentro del padre li*/
    align-items: center;
    height: 20%;
}
.listamenu h4{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1.4em;
    color: rgb(255, 255, 255);
    text-align: center;
}
.cambiocolor:hover{
    color:  #44c6c1;
}
/*titulo y texto*/
.inicio-container{
    background-image: url('../imagenes/imagenprincipal.jpg');/*poner la imagen solo al container donde esta el titulo y texto*/
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    padding-left: 10em;
    padding-right: 10em;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}
.contenido::before {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../imagenes/2024-urok-home-tramaprincipal.png');
    background-repeat: repeat;
    z-index: 2; /* Asegura que la trama esté sobre la imagen */
}
.contenido{
width: 100%;
height: 48%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.contenido h1{
    text-align: center;
    font-size: 4.8em;
    font-family: "Noto Serif", serif;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
    color: rgb(255, 255, 255);
    width: 50%;
    margin-bottom: 6%;
    height: 40%;
}
.contenido strong{/*urok*/
    font-weight: 700;
}
.contenido p{
    height: 40%;
    width: 70%;
    font-size: 1.4em;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
}
.contenido div{
    height: 20%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #44c6c1;
}
.contenido h5{/*texto see more*/
    width: 100%;
    height: 30%;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    line-height: 12px;
    font-weight: 600;
}
.contenido a:hover{/*cambia el color del texto see more*/
color:  #44c6c1;
}

